[user]
	name = Scott Killen
	email = scott@scottkillen.com
	signingkey = C0C53344752B0AE73678864F23461FDA792D6D4E
[branch]
	autosetupmerge = true
	autosetuprebase = always
[core]
	autocrlf = input
	excludesfile = /home/scott/.gitignore_global
	excludefiles = /home/scott/.cvsignore
	editor = /usr/bin/vim
[push]
	default = simple
	followTags = true
[credential]
	helper = cache
[color]
	ui = true
[merge]
	tool = vimdiff
[alias]
	st = status
	a = add
	cm = commit
	acm = commit
	ps = push
	pl = pull
	co = checkout
	br = branch
	unstage = reset HEAD --
	last = log -1 HEAD
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
	alias = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
	compare = "fg() { git log --oneline ..;  }; f"
[status]
	submodulesummary = true
[commit]
	gpgsign = true
