[user]
	name = Scott Killen
	email = scott@scottkillen.com
	signingkey = 6E86FD2CBEEBF43CF672A871DA7DDF9CA0628EAD
[branch]
	autosetupmerge = true
	autosetuprebase = always
[core]
	autocrlf = input
	excludesfile = /home/scott/.gitignore_global
	excludefiles = /home/scott/.cvsignore
	editor = /usr/bin/vim
	pager = ~/bin/diff-so-fancy | less --tabs=4 -RFX
[push]
	default = simple
	followTags = true
[credential]
	helper = cache
[color]
	ui = true
[merge]
	tool = vimdiff
[alias]
	st = status
  a = add
  c = commit --verbos
  ca = commit -a --verbose
  cm = commit -a
  m = commit --amend --verbose
  d = diff
	ps = push
	pl = pull
  co = checkout
  # list branches
  lb = "!git for-each-ref --sort='-authordate' --format='%(authordate)%09%(objectname:short)%09%(refname)' refs/heads | sed -e 's-refs/heads/--'"
	br = branch
	unstage = reset HEAD --
	last = log -1 HEAD
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
	alias = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
	compare = "fg() { git log --oneline ..;  }; f"
[status]
	submodulesummary = true
[commit]
	gpgsign = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
