[submodule "vim/.vim/bundle/delimitMate"]
	path = vim/.vim/pack/foo/start/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "vim/.vim/bundle/vim-airline"]
	path = vim/.vim/pack/foo/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/.vim/bundle/vim-code-dark"]
	path = vim/.vim/pack/foo/start/vim-code-dark
	url = https://github.com/tomasiser/vim-code-dark.git
[submodule "vim/.vim/bundle/vim-polyglot"]
	path = vim/.vim/pack/foo/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "vim/.vim/bundle/vim-sensible"]
	path = vim/.vim/pack/foo/start/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "vim/.vim/bundle/vim-signify"]
	path = vim/.vim/pack/foo/start/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "vim/.vim/pack/foo/start/vim-surround"]
	path = vim/.vim/pack/foo/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/.vim/pack/foo/start/editorconfig-vim"]
	path = vim/.vim/pack/foo/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "vim/.vim/pack/foo/start/vim-helptags"]
	path = vim/.vim/pack/foo/start/vim-helptags
	url = https://github.com/Traap/vim-helptags.git
[submodule "vim/.vim/pack/foo/start/nerdtree"]
	path = vim/.vim/pack/foo/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/.vim/pack/foo/start/supertab"]
	path = vim/.vim/pack/foo/start/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/.vim/pack/foo/start/BufOnly.vim"]
	path = vim/.vim/pack/foo/start/BufOnly.vim
	url = https://github.com/vim-scripts/BufOnly.vim.git
[submodule "vim/.vim/pack/foo/start/tabular"]
	path = vim/.vim/pack/foo/start/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/.vim/pack/foo/start/vim-git-log"]
	path = vim/.vim/pack/foo/start/vim-git-log
	url = https://github.com/kablamo/vim-git-log.git
[submodule "vim/.vim/pack/foo/start/vim-airline-themes"]
	path = vim/.vim/pack/foo/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
