[submodule "vim/.vim/bundle/delimitMate"]
	path = vim/.vim/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "vim/.vim/bundle/vim-airline"]
	path = vim/.vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/.vim/bundle/vim-code-dark"]
	path = vim/.vim/bundle/vim-code-dark
	url = https://github.com/tomasiser/vim-code-dark.git
[submodule "vim/.vim/bundle/vim-polyglot"]
	path = vim/.vim/bundle/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "vim/.vim/bundle/vim-sensible"]
	path = vim/.vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "vim/.vim/bundle/vim-signify"]
	path = vim/.vim/bundle/vim-signify
	url = https://github.com/mhinz/vim-signify.git
