[submodule "vim/.vim/bundle/delimitMate"]
	path = vim/.vim/pack/foo/start/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "vim/.vim/bundle/vim-airline"]
	path = vim/.vim/pack/foo/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/.vim/bundle/vim-code-dark"]
	path = vim/.vim/pack/foo/start/vim-code-dark
	url = https://github.com/tomasiser/vim-code-dark.git
[submodule "vim/.vim/bundle/vim-polyglot"]
	path = vim/.vim/pack/foo/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "vim/.vim/bundle/vim-sensible"]
	path = vim/.vim/pack/foo/start/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "vim/.vim/bundle/vim-signify"]
	path = vim/.vim/pack/foo/start/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "vim/.vim/pack/foo/start/vim-surround"]
	path = vim/.vim/pack/foo/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/.vim/pack/foo/start/syntastic"]
	path = vim/.vim/pack/foo/start/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "vim/.vim/pack/foo/start/syntastic-extras"]
	path = vim/.vim/pack/foo/start/syntastic-extras
	url = https://github.com/myint/syntastic-extras.git
[submodule "vim/.vim/pack/foo/start/editorconfig-vim"]
	path = vim/.vim/pack/foo/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
